@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal overflow and empty space */
html,
body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}